## Missing Value Ratio

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv("NaN_Housing_Prices.csv")

In [4]:
data.head()

,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
0,221900.0,3,1.00,1180.0,5650.0,1.0,NaN,7,1180.0,NaN,...,0,0,0,0,0,0,0,0,0,0
1,538000.0,3,2.25,2570.0,7242.0,2.0,NaN,7,2170.0,400.0,...,0,0,1,0,0,0,0,0,0,0
2,180000.0,2,1.00,770.0,10000.0,1.0,NaN,6,770.0,NaN,...,0,0,1,0,0,0,0,0,0,0
3,604000.0,4,3.00,1960.0,5000.0,1.0,NaN,7,1050.0,910.0,...,0,0,0,1,0,0,0,0,0,0
4,510000.0,3,2.00,1680.0,8080.0,1.0,NaN,8,1680.0,NaN,...,0,0,0,0,1,0,0,0,0,0

In [5]:
data.shape

(21609, 31)

In [6]:
data.isnull().sum()

Sale_Price                                       0
No of Bedrooms                                   0
No of Bathrooms                                  0
Flat Area (in Sqft)                              0
Lot Area (in Sqft)                               0
No of Floors                                     0
No of Times Visited                          19485
Overall Grade                                    0
Area of the House from Basement (in Sqft)        0
Basement Area (in Sqft)                      13123
Age of House (in Years)                          0
Latitude                                         0
Longitude                                        0
Living Area after Renovation (in Sqft)           0
Lot Area after Renovation (in Sqft)              0
Years Since Renovation                       20695
Condition_of_the_House_Excellent                 0
Condition_of_the_House_Fair                      0
Condition_of_the_House_Good                      0
Condition_of_the_House_Okay                      0
Ever_Renovated_Yes                               0
Waterfront_View_Yes                              0
Zipcode_Group_Zipcode_Group_1                    0
Zipcode_Group_Zipcode_Group_2                    0
Zipcode_Group_Zipcode_Group_3                    0
Zipcode_Group_Zipcode_Group_4                    0
Zipcode_Group_Zipcode_Group_5                    0
Zipcode_Group_Zipcode_Group_6                    0
Zipcode_Group_Zipcode_Group_7                    0
Zipcode_Group_Zipcode_Group_8                    0
Zipcode_Group_Zipcode_Group_9                    0
dtype: int64

In [7]:
### Missing Value Ratio formula ###

# Missing value ratio = number of missing values/Total no.of observations

In [8]:
for i in data.columns:
    tmp = data[i].isnull().sum()/len(data)   ## formula
    if tmp > 0.70:
        print("removing column" + i + "with missing value ratio",tmp)
        data = data.drop(columns = [i])

removing columnNo of Times Visitedwith missing value ratio 0.9017076218242399
removing columnYears Since Renovationwith missing value ratio 0.9577028090147623